<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

    <div id="app">
        <v-app id="inspire">
           <nav>
                <v-toolbar flat app>
                    <v-toolbar-side-icon class="grey--text" @click="drawer = !drawer"></v-toolbar-side-icon>
                    <v-toolbar-title class="text-uppercase grey--text">
                        <span class="font-weight-light">CNC</span>
                        <span>PORTO</span>
                    </v-toolbar-title>
                </v-toolbar>
                <v-spacer></v-spacer>

                <v-navigation-drawer app v-model="drawer" class="indigo">
                    <v-list>
                        <v-list-tile active-class ripple v-for="link in links" :key="link.text" :to="link.route">
                            <v-list-tile-action>
                                <v-icon class="white--text">{{link.icon}}</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title class="white--text">{{link.text}}</v-list-tile-title>
                            </v-list-tile-content>

                        </v-list-tile>
                    </v-list>

                </v-navigation-drawer>


                </nav> 

                <v-content class="mx-4 mb-4">

                
                <v-container class="my-5">
                        <v-layout row wrap>
                                <v-flex xs12 sm6 md4 lg3 v-for="person in team" :key="person.name">
                                    <v-card flat class="text-xs-center ma-3">
                                        <v-responsive class="pt-4">
                                            <v-avatar size="100" class="blue lighten-2">
                                               <!-- <img :src="person.avatar"> --> 
                                            </v-avatar>
                                        </v-responsive>
                                        <v-card-text>
                                          <div class="subheading">{{person.name}}</div>
                                          <div class="grey--text">{{person.role}}</div>
                                        </v-card-text>
                                        <v-card-actions >
                                            <v-btn flat color="grey">
                                                <v-icon small left>message</v-icon>
                                                <span>Message</span>
                      
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-flex>
                              </v-layout>
                </v-container>
            </v-content>

                
            


        </v-app>
      </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script>
    new Vue({
  el: '#app',
  
  data: () => ({
    drawer: false,
    links: [
                { icon: 'dashboard', text: 'Dashboard', route: '/'},
                { icon: 'folder', text: 'My Projects', route: '/projects'},
                { icon: 'person', text: 'Team', route: '/team'},

            ],

            team: [
        { name: 'The Net Ninja', role: 'Web developer', avatar: '/avatar-1.png' },
        { name: 'Ryu', role: 'Graphic designer', avatar: '/avatar-2.png' },
        { name: 'Chun Li', role: 'Web developer', avatar: '/avatar-3.png' },
        { name: 'Gouken', role: 'Social media maverick', avatar: '/avatar-4.png' },
        { name: 'Yoshi', role: 'Sales guru', avatar: '/avatar-5.png' }
    ]
    
  })
})
  </script>

  

